@import "variables";
.nav-bar {
  background-color: #f4afb3;
  position: sticky;
  top: 0;
  z-index: 3000;
  height: 90px;
  font-family: 'ambroise-std';
  font-weight: 800;
  // font-family: 'Copperplate';
  font-size: 24px;

  ul {
    width: 75%;
    list-style-type: none;

  }

  li {
    text-decoration: none;

  }

  a, button {
    color: white;

    &:hover {
      text-decoration: none;
    }
  }

  img {
    width: 50px;
    height: 50px;
  }

  .MuiButton-text{
    font-family: 'ambroise-std';
    font-weight: 800;
    font-size: 24px;
    text-transform: none;
    letter-spacing: unset;

  }
  .MuiButton-root{
    transition: 0s background-color;
    &:hover{
      background-color: $sorbet-pink;
      transition: 0s background-color;
    }
  }
  &_drawerCanvas{
    font-size: 16px;
  }
  &_projects-dropDown {
    top:100%;
    left: 0;
    background-color: $red;
    border: $pastel-pink solid 1px;
    //overflow: hidden;
    position: relative;
    height: unset;
    transition: height 1s ease;
  }
  .menu-primary-exit-active {
    height: unset;
    transition: height 250ms ease;

  }
  .menu-primary-enter-active {
    height: unset;
    transition: height 250ms ease;

  }

}
