$blue: #C3E4FD;
$green: #B5BA7E;
$pastel-pink: #F4AFB3;
$sorbet-pink: #E18D96;
$red: #A02C2D;
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1600px
);


